:focus {
  outline: 3px solid #0a7;
  outline-offset: 2px;
}

body {
  max-width: 72ch; /*maximo de pantalla 72 caracteres */
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header,
nav,
main,
section,
article,
footer {
  margin-block: 1rem;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #0d0aaf;
  padding: 0.5rem;
  text-align: left;
}

a {
  color: #0a5796;
  text-decoration: underline;
}

a:focus,
a:hover {
  text-decoration: none;
}